In [1]:
import pandas as pd

from transform import remove_html, maintain_alpha, remove_single, remove_morespace, repair_salary

In [2]:
df_job = pd.read_csv('data/df_job.csv', index_col=['JobID'])
df_job.drop(columns=['Unnamed: 0', 'PostedDate', 'PublishDate'], inplace=True)

df_job[df_job.select_dtypes(object).columns] = df_job.select_dtypes(object).fillna(0)
df_job[df_job.select_dtypes(object).columns] = df_job.select_dtypes(object).astype(str)

In [3]:
df_job.head(2)

,Description,EducationLevelID,FunctionPositionID,JobStatus,JobTitle,Requirement,SalaryMax,SalaryMin,UserId,HiredQuota,...,IsSpecificEducationLevel,DriverLicenseType,IsSpesificDriverLicense,Gender,IsSpecificAge,IsSpecificGender,IsSpecificIQ,IsSpecificMarital,MaritalStatus,AdsStatisticID
JobID,,,,,,,,,,,,,,,,,,,,,
1,Under Asst. Front Office Manager at Gunawangsa...,4,1,Close,NIGHT AUDIT,"<p>\r\n\r\n</p><div style=""language:en-US;marg...",3600000.0,3300000.0,124839f6-8e58-48e8-8959-968da693a5b1,1,...,False,0,False,NaN,False,False,False,False,NaN,NaN
2,BECOMING BOOK KEEPER FOR GUNAWANGSA HOTEL MERR...,2,2,Close,BOOK KEEPER,<p>Bachelor Degree of Accounting.<br>With 2 ye...,4250000.0,3500000.0,124839f6-8e58-48e8-8959-968da693a5b1,1,...,False,0,False,NaN,False,False,False,False,NaN,NaN

In [4]:
df_job.Description = df_job.Description.apply(
    lambda x: remove_morespace(
                remove_single(
                    maintain_alpha(
                        remove_html(
                            str.lower(x)
                        )
                    )
                )
    ).strip()
)

c:\Users\febri\projects\eris_job\transform.py:46: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 46 of the file c:\Users\febri\projects\eris_job\transform.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  return BeautifulSoup(text).get_text()

In [5]:
df_job = df_job[df_job.JobStatus != 'Not Publish']

In [6]:
df_job.head(2)

,Description,EducationLevelID,FunctionPositionID,JobStatus,JobTitle,Requirement,SalaryMax,SalaryMin,UserId,HiredQuota,...,IsSpecificEducationLevel,DriverLicenseType,IsSpesificDriverLicense,Gender,IsSpecificAge,IsSpecificGender,IsSpecificIQ,IsSpecificMarital,MaritalStatus,AdsStatisticID
JobID,,,,,,,,,,,,,,,,,,,,,
1,under asst front office manager at gunawangsa ...,4,1,Close,NIGHT AUDIT,"<p>\r\n\r\n</p><div style=""language:en-US;marg...",3600000.0,3300000.0,124839f6-8e58-48e8-8959-968da693a5b1,1,...,False,0,False,NaN,False,False,False,False,NaN,NaN
2,becoming book keeper for gunawangsa hotel merr,2,2,Close,BOOK KEEPER,<p>Bachelor Degree of Accounting.<br>With 2 ye...,4250000.0,3500000.0,124839f6-8e58-48e8-8959-968da693a5b1,1,...,False,0,False,NaN,False,False,False,False,NaN,NaN

In [7]:
df_job.JobTitle = df_job.JobTitle.map(str.lower).map(maintain_alpha).map(remove_morespace).map(str.strip)

In [8]:
df_job.head(2)

,Description,EducationLevelID,FunctionPositionID,JobStatus,JobTitle,Requirement,SalaryMax,SalaryMin,UserId,HiredQuota,...,IsSpecificEducationLevel,DriverLicenseType,IsSpesificDriverLicense,Gender,IsSpecificAge,IsSpecificGender,IsSpecificIQ,IsSpecificMarital,MaritalStatus,AdsStatisticID
JobID,,,,,,,,,,,,,,,,,,,,,
1,under asst front office manager at gunawangsa ...,4,1,Close,night audit,"<p>\r\n\r\n</p><div style=""language:en-US;marg...",3600000.0,3300000.0,124839f6-8e58-48e8-8959-968da693a5b1,1,...,False,0,False,NaN,False,False,False,False,NaN,NaN
2,becoming book keeper for gunawangsa hotel merr,2,2,Close,book keeper,<p>Bachelor Degree of Accounting.<br>With 2 ye...,4250000.0,3500000.0,124839f6-8e58-48e8-8959-968da693a5b1,1,...,False,0,False,NaN,False,False,False,False,NaN,NaN

In [9]:
df_job.Requirement = df_job.Requirement.map(remove_html).map(maintain_alpha).map(remove_single).map(remove_morespace).map(str.lower).map(str.strip)

c:\Users\febri\projects\eris_job\transform.py:46: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 46 of the file c:\Users\febri\projects\eris_job\transform.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  return BeautifulSoup(text).get_text()

In [11]:
df_job.head(1)

,Description,EducationLevelID,FunctionPositionID,JobStatus,JobTitle,Requirement,SalaryMax,SalaryMin,UserId,HiredQuota,...,IsSpecificEducationLevel,DriverLicenseType,IsSpesificDriverLicense,Gender,IsSpecificAge,IsSpecificGender,IsSpecificIQ,IsSpecificMarital,MaritalStatus,AdsStatisticID
JobID,,,,,,,,,,,,,,,,,,,,,
1,under asst front office manager at gunawangsa ...,4,1,Close,night audit,with year minimum experiences in the same posi...,3600000.0,3300000.0,124839f6-8e58-48e8-8959-968da693a5b1,1,...,False,0,False,NaN,False,False,False,False,NaN,NaN

In [28]:
'''cara menggunakan indexing pada apply function'''
# df_job[['SalaryMax', 'SalaryMin']].apply(lambda x: df_job.SalaryMax.loc[x.index] - df_job.SalaryMin.loc[x.index]).sort_values('SalaryMax')

'cara menggunakan indexing pada apply function'

In [29]:
df_job[['SalaryMax', 'SalaryMin']] = df_job[['SalaryMax', 'SalaryMin']].astype(int)

In [33]:
df_job.drop(columns=['UserId'], inplace=True)

In [35]:
df_job.drop(columns=['ClosedDate'], inplace=True)

In [36]:
df_job.head(2)

,Description,EducationLevelID,FunctionPositionID,JobStatus,JobTitle,Requirement,SalaryMax,SalaryMin,HiredQuota,DepartmentID,...,IsSpecificEducationLevel,DriverLicenseType,IsSpesificDriverLicense,Gender,IsSpecificAge,IsSpecificGender,IsSpecificIQ,IsSpecificMarital,MaritalStatus,AdsStatisticID
JobID,,,,,,,,,,,,,,,,,,,,,
1,under asst front office manager at gunawangsa ...,4,1,Close,night audit,with year minimum experiences in the same posi...,3600000,3300000,1,1,...,False,0,False,NaN,False,False,False,False,NaN,NaN
2,becoming book keeper for gunawangsa hotel merr,2,2,Close,book keeper,bachelor degree of accounting with years minim...,4250000,3500000,1,2,...,False,0,False,NaN,False,False,False,False,NaN,NaN

In [41]:
df_job.columns

Index(['Description', 'EducationLevelID', 'FunctionPositionID', 'JobStatus',
       'JobTitle', 'Requirement', 'SalaryMax', 'SalaryMin', 'HiredQuota',
       'DepartmentID', 'CityID', 'CompanyID', 'ProvinceID', 'SkipTest',
       'MajorID', 'DbName', 'UsiaMax', 'UsingGlasses', 'IQMin',
       'IsSpecificEducationLevel', 'DriverLicenseType',
       'IsSpesificDriverLicense', 'Gender', 'IsSpecificAge',
       'IsSpecificGender', 'IsSpecificIQ', 'IsSpecificMarital',
       'MaritalStatus', 'AdsStatisticID'],
      dtype='object')

In [61]:
df_job.Description.loc[3082]

'mengerjakan etlmenyelesaikan proyek model aimengautomasi perangkat yang digunakan tim data science'

In [62]:
df_job.drop(index=145, inplace=True)

In [75]:
df_job.SalaryMin = df_job.SalaryMin.apply(lambda x: x*1_000_000 if x < 10 else x)
df_job.SalaryMax = df_job.SalaryMax.apply(lambda x: x*1_000_000 if x < 10 else x)

In [77]:
df_job.columns

Index(['Description', 'EducationLevelID', 'FunctionPositionID', 'JobStatus',
       'JobTitle', 'Requirement', 'SalaryMax', 'SalaryMin', 'HiredQuota',
       'DepartmentID', 'CityID', 'CompanyID', 'ProvinceID', 'SkipTest',
       'MajorID', 'DbName', 'UsiaMax', 'UsingGlasses', 'IQMin',
       'IsSpecificEducationLevel', 'DriverLicenseType',
       'IsSpesificDriverLicense', 'Gender', 'IsSpecificAge',
       'IsSpecificGender', 'IsSpecificIQ', 'IsSpecificMarital',
       'MaritalStatus', 'AdsStatisticID'],
      dtype='object')

In [82]:
df_job.DriverLicenseType = df_job.DriverLicenseType.map(str.lower)

In [93]:
df_job.Gender = df_job.Gender.fillna(0).astype(int)

In [101]:
df_job.MaritalStatus = df_job.MaritalStatus.fillna(0).astype(int)

In [106]:
df_job.AdsStatisticID = df_job.AdsStatisticID.fillna(0).astype(int)

In [108]:
df_job.to_csv('data/cdf_job.csv')